body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(43, 43, 43);
}

.clock{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: solid 5px rgb(252, 255, 55);
    position: absolute;
}

#seconds-hand {
    height: 130px;
    width: 2px;
    background-color: rgb(70, 255, 255);
    position: absolute;
    left: 150px;
    bottom: 149px;
    opacity: 50%;
    transform-origin:  0 100%;
}

#minutes-hand {
    height: 100px;
    width: 2px;
    background-color: rgb(23,120,227);
    position: absolute;
    left: 150px;
    bottom: 149px;
    transform-origin:  0 100%;
}

#hours-hand{
    height: 80px;
    width: 2px;
    background-color: rgb(203,110,257);
    position: absolute;
    left: 150px;
    bottom: 149px;
    transform-origin:  0 100%;
}

#center{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgb(252,255,55);
    position: absolute;
    left: 145px;
    bottom: 145px
}